<mat-toolbar color="primary" class="navbar">
  <mat-toolbar-row>
    <img class="logo" src="./../assets/3-112.png">
  </mat-toolbar-row>
  <mat-toolbar-row>
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="heading-current" routerLink="/home">
            HOME
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="heading">
            GAMERS
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-menu-item routerLink="/gamers/search">
          <span class="heading-options">Search Gamers</span>
        </button>
        <button mat-menu-item>
          <span class="heading-options">Recommended Gamers</span>
        </button>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="heading">
            GAMES
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-menu-item disabled>
          <span class="heading-options">View Games</span>
        </button>
        <button mat-menu-item disabled>
          <span class="heading-options">Search Games</span>
        </button>
        <button mat-menu-item disabled>
          <span class="heading-options">Recommended Games</span>
        </button>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="heading">
            SESSIONS
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-menu-item disabled>
          <span class="heading-options">Start Session</span>
        </button>
        <button mat-menu-item disabled>
          <span class="heading-options">Search Sessions</span>
        </button>
        <button mat-menu-item disabled>
          <span class="heading-options">Recommended Sessions</span>
        </button>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="heading">
            PROFILE
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-menu-item routerLink="/profile">
          <span class="heading-options">My Profile</span>
        </button>
        <button mat-menu-item>
          <span class="heading-options">My Games</span>
        </button>
        <button mat-menu-item>
          <span class="heading-options">My Friends</span>
        </button>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-toolbar-row>
</mat-toolbar>