<app-home-navbar></app-home-navbar>

<div class="page-body">
    <div class="avoid-navbar">
        <h1 class="heading">Welcome, TEST_USER</h1>
        <h2>Recommended Gamers</h2>
        <div class="row">
            <mat-card class="user-card" *ngFor="let user of gamers">
                <mat-card-content>
                    <img class="pfp" mat-card-image src={{user.img}}>
                </mat-card-content>
                <mat-card-header>
                    <mat-card-title>{{user.name}}</mat-card-title>
                    <mat-card-subtitle>{{user.criteria}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button mat-button color="primary" routerLink="/gamers/users/terry">VIEW PROFILE</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <h2>Recommended Sessions</h2>
        <div class="row">
            <mat-card *ngFor="let user of sessions">
                <mat-card-content>
                    <img class="session" mat-card-image src={{user.img}}>
                </mat-card-content>
                <mat-card-header>
                    <mat-card-title>{{user.name}}</mat-card-title>
                    <mat-card-subtitle>{{user.action}}{{user.friend}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <button mat-button color="primary">VIEW MEMBERS</button>
                    <button mat-button color="primary">JOIN SESSION</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>