mat-card {
    margin-right: 40px;
}

.user-card {
    width: 800px !important;
    height: 80px !important;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.session-card{
    width: 600px !important;
    height: 225px !important;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.stack {
    margin-left: 18px;
}

.vm {
    margin-left: 3px;
}

mat-card-subtitle {
    overflow-wrap: break-word;
}

.heading {
    margin-top: 40px;
}

.g-row {
    margin-top: -170px;
}

.pfp {
    width: 95px;
    height: 95px;
}

.session {
    width: 400px;
    height: 225px;
}