<app-profile-navbar></app-profile-navbar>
<div class="page-body">
    <div class="avoid-navbar">
        <h1 class="heading">{{name}}'s Profile</h1>
        <div class="preference-container">
            <mat-grid-list cols="4" rowHeight="600px">
                <!---------- PROFILE PICTURE ---------->
                <mat-grid-tile [colspan]=1>
                    <mat-card class="user-card">
                        <mat-card-content>
                            <img class="pfp" mat-card-image src="https://avatarfiles.alphacoders.com/224/224188.jpg">
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button color="primary">CHANGE PICTURE</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>

                <!---------- USER PREFERENCES ---------->
                <mat-grid-tile class="preference-block" [colspan]=3>
                    <mat-card class="inner-card">
                        <mat-card-header>
                            <mat-card-title>{{name}}'s Preferences</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>

                            <!---------- USERNAME SETTINGS ---------->
                            <div class="setting" *ngIf="editName == false">
                                <button mat-icon-button (click)="openEditName()">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <p class="current-setting">Username: {{name}}</p>
                            </div>
                            <div class="setting" *ngIf="editName == true">
                                <button mat-icon-button (click)="openEditName()">
                                    <mat-icon>check</mat-icon>
                                </button>
                                <mat-form-field>
                                    <input matInput placeholder="Username" [(ngModel)]="name" />
                                </mat-form-field>
                            </div>

                            <!---------- FAVORITE SYSTEM SETTINGS ---------->
                            <div class="setting">
                                <button mat-icon-button (click)="openEditSystems()" [matMenuTriggerFor]="systemMenu">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <mat-menu #systemMenu="matMenu">
                                    <ng-container *ngFor="let box of systems">
                                        <mat-checkbox class="mat-menu-item" [(ngModel)]="box.own"
                                            (click)="openEditSystems()">
                                            {{box.name}}
                                        </mat-checkbox>
                                    </ng-container>
                                </mat-menu>
                                <p class="current-setting">Systems:</p>
                            </div>
                            <div class="chip-row">
                                <mat-chip-list>
                                    <ng-container *ngFor="let chip of systems">
                                        <mat-chip *ngIf="chip.own == true" selected="true" color="primary">
                                            {{chip.name}}
                                        </mat-chip>
                                    </ng-container>
                                </mat-chip-list>
                            </div>

                            <!---------- FAVORITE GENRE SETTINGS ---------->
                            <div class="setting">
                                <button mat-icon-button (click)="openEditGenres()" [matMenuTriggerFor]="genreMenu">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <mat-menu #genreMenu="matMenu">
                                    <ng-container *ngFor="let box of genres">
                                        <mat-checkbox class="mat-menu-item" [(ngModel)]="box.favorite"
                                            (click)="openEditSystems()">
                                            {{box.name}}
                                        </mat-checkbox>
                                    </ng-container>
                                </mat-menu>
                                <p class="current-setting">Genres:</p>
                            </div>
                            <div class="chip-row">
                                <mat-chip-list>
                                    <ng-container *ngFor="let chip of genres">
                                        <mat-chip *ngIf="chip.favorite == true" selected="true" color="accent">
                                            {{chip.name}}
                                        </mat-chip>
                                    </ng-container>
                                </mat-chip-list>
                            </div>

                            <!---------- FAVORITE GAME SETTINGS ---------->
                            <div class="setting">
                                <p class="current-setting-games">Favorite Games:</p>
                            </div>
                            <div class="row">
                                <ng-container *ngFor="let game of games">
                                    <mat-card *ngIf="game.favorite == true" class="fav-card">
                                        <mat-card-content>
                                            <img class="fav" mat-card-image src={{game.img}}>
                                        </mat-card-content>
                                        <mat-card-actions>
                                            <button mat-button color="warn"
                                                [matMenuTriggerFor]="gameMenu">CHANGE</button>
                                        </mat-card-actions>
                                    </mat-card>
                                    <mat-menu #gameMenu="matMenu">
                                        <ng-container *ngFor="let box of games">
                                            <button mat-menu-item *ngIf="box.favorite == false" color="warn"
                                                (click)="changeFavoriteGame(box.name, game.name)">
                                                {{box.name}}
                                            </button>
                                        </ng-container>
                                    </mat-menu>
                                </ng-container>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>