.heading {
    margin-top: 40px;
    margin-left: 40px;
}

mat-chip {
    margin-right: 5px;
    margin-left: 5px;

    margin-top: -10px;
    margin-bottom: 10px;
    
}

mat-card-title {
    font-weight: bold;
    font-size: 28px !important;
}

.preference-container {
    margin: auto;
    width: 1700px;
    height: 1500px;
}

.chip-row {
    margin-left: 34px;
}

.inner-card {
    width: 1000px !important;
    min-height: 500px !important;
}

.setting {
    display: flex;
}

.current-setting {
    margin-top: 11px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.current-setting-games {
    margin-top: 11px;
    margin-left: 42px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

mat-chip-list {
    overflow-wrap: break-word;
}

mat-menu {
    max-height: 600px !important;
}

mat-grid-list {
    margin-top: -20px;
    margin-left: 40px;
}

.user-card {
    max-width: 400px !important;
}

.pfp {
    width: 400px;
    height: 400px;
}

.preference-block {
    margin-left: 0px;
    margin-top: -200px;
    height: 1500px !important;
    display: flex;
}

.row {
    margin-left: 42px;
}

.fav {
    width: 170px;
    height: 95px;
    padding: 5px;
}

.fav-card {
    width: 750px !important;
    height: 100px !important;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.fav-title {
    font-size: 20px !important;
    margin-top: 38px !important;
}