/* You can add global styles to this file, and also import other style files */
@import 'theme.scss';

body {
  margin: 0;
}

h1 {
  font-size: 48px;
  font-family: Impact, fantasy;
}

h2 {
  font-size: 38px;
  font-family: Impact, fantasy;
  font-weight: normal;
}

.page-body{
  margin-left: 30px;
}